<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiang.service.mysql.mapper.UserMapper">
    <!-- ================================autoCode at: 2019-06-14 03:49:56=========================================== -->
    <cache eviction="LRU" size="1024"/>
    <!--开启二级缓存-->
    <select id="getById" resultType="com.jiang.service.mysql.entity.User" useCache="true">
        SELECT * FROM t_user WHERE id=#{id}
    </select>

    <update id="updatePWById">
        UPDATE t_user SET password=#{password} WHERE id=#{id}
    </update>
</mapper>
